div {
    text-align: center;

}
button {
    
    padding: 10px 20px;
    font-size: 20px;
    border: 2px solid black;
    
}
button:hover {
    background-color:lightseagreen;

    transition: 0.5s
}