div {
    text-align: center;

}
button {
    background-color: lightgray;
    padding: 10px 20px;
    font-size: 20px;
    border: 2px solid black;
    
}
button:hover {
    background-color: black;
    color: white;


    transition: 0.5s
}
p {
   

}